$xsolla_magenta: #f80b5b;
$xsolla_bg_color: #00244d;

.App {
  text-align: center;

  &__logo {
    animation: App-logo infinite 5s linear;
    height: 40vmin;
    pointer-events: none;
  }

  &__header {
    background-color: $xsolla_bg_color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__link {
    color: $xsolla_magenta;
  }
}

@keyframes App-logo {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
